@import "//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css";
@import "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css";

.card{
  width:250px;
  border-radius: 1px;
  color: #7A8594;
  margin: 0 auto;
  font-size: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.card:hover{
  cursor: pointer;
  box-shadow: 0 3px 18px rgba(0, 0, 0, 0.6);
}

.card-heading{
  font-size: 15px;
  color: #0F5EF0;
  padding: 20px 0 18px 16px;
  font-weight: bold;
}
.card-subheading{
  padding: 0 0 20px 16px;
  font-weight: bold;
}
.card-description{
  padding: 0px 0 14px 16px;
}

.card img{
  width:100%;
}

.user-form{
  padding: 40px;
  border: 1px solid #7A8594;
  width: 400px;
  margin: 50px auto;
  border-radius: 1px;
}

.i-group{
  margin-bottom: 20px;
}

.i-group p{
  color: #221F4D;
  font-size: 12px;
  margin: 0px;
}

.i-group input{
  width: 100%;
  height: 30px;
  color: rgba(34, 31, 77, 0.5);
  font-size: 12px;
  border: 1px solid #7A8594;
  border-radius: 1px;
  box-sizing: border-box;
  padding: 0 5px;
}

.i-group .primary{
  font-size: 12px;
  color: #fff;
  background-color: #0F5EF0;
  width: 100%;
  height: 30px;
  outline: none;
  border: 0px;
}

.i-group .primary:hover{
  background-color: #0C4BC0;
  cursor: pointer;
}

.product-table{
  width: 700px;
  margin: 0 auto;
  font-size: 12px;
  color: #221f4d !important;
  border: 1px solid #f5f8fa;
}

.table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th{
  background-color: unset;
}

.table-striped>tbody>tr:nth-child(odd), .table>tbody>tr:nth-child(odd){
  background-color: #fff !important;
}

.table-striped>tbody>tr{
  background-color: #f5f8fa !important;
}

.product-table>thead>tr>th{
  background-color: #CBD6E2 !important;
}

.product-table>tbody>tr:hover{
  background-color: #e7effd !important;
  border: 1px solid #0f5ef0 !important;
  cursor: pointer;
}
