
<div class="card">
    <img src="assets/jake.jpg" alt="Beach day" />
    <div class="card-heading">Beach Day</div>
    <div class="card-subheading">REFUS The DOG</div>
    <div class="card-description">Modified 02/28/2019 by bfrost</div>
</div>


<form class="user-form">
  <div class="i-group">
    <p>Name</p>
    <input type="text" name="name" placeholder="Enter Name"/>
  </div>
  <div class="i-group">
    <p>Email</p>
    <input type="text" name="email" placeholder="Enter Email"/>
  </div>
  <div class="i-group">
    <p>Phone Number</p>
    <input type="text" name="phone" placeholder="Enter Phone Number"/>
  </div>
  <div class="i-group">
    <p>Password</p>
    <input type="password" name="password" placeholder="Enter Password"/>
  </div>
  <div class="i-group">
    <p>Confirm Password</p>
    <input type="password" name="confirmpassword" placeholder="Confirm Password"/>
  </div>
  <div class="i-group">
    <button class="primary" type="button" name="submit">Save</button>
  </div>
</form>


<table class="table table-striped product-table" [mfData]="data" #mf="mfDataTable">
    <thead>
    <tr>
        <th style="width: 50%;text-align:left;border-right:1px solid #428bca;">
            <mfDefaultSorter by="name" style="color:#221F4D;font-size:12px;">Product Name</mfDefaultSorter>
        </th>
        <th style="width: 25%;text-align:left;border-right:1px solid #428bca;">
            <mfDefaultSorter by="price" style="color:#221F4D;font-size:12px;">Price</mfDefaultSorter>
        </th>
        <th style="width: 25%;text-align:left;">
            <mfDefaultSorter by="category" style="color:#221F4D;font-size:12px;">Category</mfDefaultSorter>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of mf.data">
        <td>{{item.name}}</td>
        <td>{{item.price}}</td>
        <td>{{item.category}}</td>
    </tr>
    </tbody>
</table>
